#Python version: 3.11.9
#Install the required dependencies listed in this file: pip install -r requirements.txt
numpy
matplotlib
opencv-python
scikit-image
connected-components-3d
vedo
tifffile
pandas
localthickness
openpyxl